{% extends 'layouts/master.html' %}
{% load static %}

{% block page %}
<main id="app">
  {% include 'partials/header.html' %}
  <section class="jumbotron jumbotron-fluid bg-green bg-cover text-white mb-0">
    <div class="container">
      <nav>
        <ol class="breadcrumb bg-none text-white p-0">
          <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
          {% block breadcrumbs %}{% endblock %}
        </ol>
      </nav>
      <h1>{% block page_title %}{% endblock %}</h1>
    </div>
  </section>

  <section class="bg-light py-5">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mb-5">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p class="mb-0">{{ message }}</p>
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </section>
  {% include 'partials/footer.html' %}
</main>
{% endblock %}