# Python
*.pyc
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
env/
.env/

# Django
db.sqlite3
media/
static_root/
local_settings.py

# IDE specific files
.idea/
.vscode/

# Logs
*.log