<div class="card border-light-subtle h-100">
  <div class="card-body">
    {% if icon_position == "left" %}
    <i class="{{ topic.icon }} float-start me-3 text-muted" style="font-size: 3rem;"></i>
    {% else %}
    <i class="{{ topic.icon }} float-end text-muted" style="font-size: 3rem;"></i>
    {% endif %}
    <h5 class="card-title {% if icon_position == 'left' %}text-truncate{% endif %}">
        <a class="stretched-link link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'app:datasets' %}?topic={{ topic.slug }}">{{ topic.title }}</a></h5>
    {% if icon_position != "left" %}
    <p class="mb-0 small">{{ topic.description|truncatewords:20 }}</p>
    {% endif %}
  </div>
  <div class="card-footer bg-transparent border-0 pt-0">
    <small class="text-muted">{{ topic.datasets.count }} dataset{{ topic.datasets.count|pluralize }}</small>
  </div>
</div>