{% extends 'layouts/page.html' %}
{% load static %}
{% load humanize %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'web:dataset' resource.dataset.slug %}">{{ resource.dataset.title }}</a>
</li>
<li class="breadcrumb-item text-white-50">{{ resource.title }}</li>
{% endblock %}

{% block page_title %} {{ resource.title}} {% endblock %}

{% block content %}

{% if resource.file %}
<a class="btn btn-lg btn-danger float-right" href="{{ request.get_host }}{% get_media_prefix %}{{ resource.file }}"><i class="fa fa-arrow-down mr-2"></i> Download</a>
{% else %}
<a class="btn btn-lg btn-danger float-right" href="{{ resource.url }}" target="_blank"><i class="fa fa-external-link-alt mr-2"></i> Visit Resource</a>
{% endif %}

{% if resource.description %}
<div class="lead mb-5">{{ resource.description|linebreaks }}</div>
{% endif %}

<h3 class="mb-4">Additional Information</h3>
<dl class="row">
  <dt class="col-sm-4 col-md-3 col-lg-2">Identifier</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">{{ resource.slug }}</dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">Dataset</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10"><a
      href="{% url 'web:dataset' resource.dataset.slug %}">{{ resource.dataset.title }}</a></dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">Organisation</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10"><a
      href="{{ resource.dataset.organisation.url }}">{{ resource.dataset.organisation.title }}</a></dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">Issued Date</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">{{ resource.created|date:"j F Y" }}</dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">Last Updated</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">{{ resource.updated|date:"j F Y" }}</dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">Access URL</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">
    {% if resource.file %}
    <a href="{{ request.get_host }}{% get_media_prefix %}{{ resource.file }}">{{ request.get_host }}{% get_media_prefix %}{{ resource.file }}</a>
    {% else %}
    <a href="{{ resource.url }}">{{ resource.url }}</a>
    {% endif %}
  </dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">File Format</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">{{ resource.format.title }}</dd>
  <dt class="col-sm-4 col-md-3 col-lg-2">File Size</dt>
  <dd class="col-sm-8 col-md-9 col-lg-10">{{ resource.size|filesizeformat }}</dd>
</dl>

{% endblock %}
