<div class="card mb-3 shadow-sm border-0">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'web:dataset' dataset.slug %}" class="text-blue">{{ dataset.title }}</a></h4>
    <p class="small">
      {% if 'organisations' not in request.path %}
      <a class="badge badge-light" href="{% url 'web:organisation' dataset.organisation.slug %}">{{ dataset.organisation.title }}</a> – 
      {% endif %}
      <span class="text-muted">Updated: {{ dataset.updated|timesince }} ago</span>
    </p>
    <p>{{ dataset.description|truncatewords:50 }}</p>

    {%if 'topics' not in request.path %}
      {% if dataset.topics.all %}<p>
      {% for topic in dataset.topics.all %}
      <a class="badge badge-light font-weight-light" href="{% url 'web:topic' topic.slug %}">{{ topic.title }}</a>
      {% endfor %}</p>
      {% endif %}
    {% endif %}

    {% if dataset.resource_set.all %}
    <p class="mb-0">
      {% for resource in dataset.resource_set.all %}
      <span class="badge badge-secondary font-weight-light">{{ resource.format|upper }}</span>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</div>