{% load static %}
{% load custom_tags %}
<section class="bg-info text-white">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4">
        <h3>Get Involved</h3>
        <p class="mb-0"><a class="text-white" href="{% url 'web:page' 'faqs' %}"><u>Frequently Asked Questions</u></a></p>
      </div>
      <div class="col-md-4">
        <h3>Start Publishing</h3>
        <p class="mb-0"><a class="text-white" href="{% url 'web:page' 'contact' %}"><u>Register your organisation</u></a> to publish data</p>
      </div>
      <div class="col-md-4">
        <h3>Get in touch</h3>
        <p class="mb-0"><a class="text-white" href="{% url 'web:page' 'contact' %}"><u>Contact us</u></a> for help and support</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary">
  <div class="container">
    {% stats as stats %}
    <div class="d-flex justify-content-between text-light py-5">
      <p class="mb-0"><span class="display-4 d-block">{{ stats.datasets }}</span> Dataset{{ stats.datasets|pluralize }}</p>
      <p class="mb-0"><span class="display-4 d-block">{{ stats.organisations }}</span> Organisation{{ stats.organisations|pluralize }}</p>
      <p class="mb-0"><span class="display-4 d-block">{{ stats.topics }}</span> Topic{{ stats.topics|pluralize }}</p>
      <p class="mb-0"><span class="display-4 d-block">{{ stats.users }}</span> User{{ stats.users|pluralize }}</p>
    </div>
  </div>
</section>
<section class="bg-dark">
  <div class="container">
    <footer class="row py-5">
      <div class="col-md-2">
        <ul class="list-inline d-flex align-items-center justify-content-between mb-0">
          <li class="list-inline-item"><a href="https://www.facebook.com" class="text-light"><i
                class="fab fa-2x fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://www.twitter.com" class="text-light"><i
                class="fab fa-2x fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.github.com" class="text-light"><i
                class="fab fa-2x fa-github"></i></a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <ul class="nav justify-content-end">
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'web:page' 'about' %}">About</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'web:page' 'faqs' %}">FAQs</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'web:page' 'contact' %}">Contact</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'web:page' 'terms' %}">Terms of Use</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'web:page' 'privacy' %}">Privacy Policy</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="https://github.com/schajee/ekan"
              target="_blank">Source Code</a></li>
        </ul>
      </div>
    </footer>
  </div>
</section>