{% extends 'layouts/page.html' %}

{% block title %}Contact Us | EKAN{% endblock %}
{% block page_title %} Contact Us {% endblock %}

{% block content %}
<form action="{% url 'app:contact' %}" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }} {{ field }}
    {% if field.errors %}
    <div class="invalid-feedback d-block text-left">{{ field.errors.as_text }}</div>
    {% else %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-secondary" type="submit" value="Submit">
</form>
{% endblock %}
