{% extends 'layouts/page.html' %}
{% load custom_tags %}

{% block title %}Privacy Policy | EKAN{% endblock %}
{% block page_title %} Privacy Policy {% endblock %}

{% block content %}

  <h4 class="mb-4 border-bottom">Introduction</h4>

  <dl class="row">
    <dt class="col-2">Purpose</dt>
    <dd class="col-10">This is the website for {% app_name %}. We protect your personal information using industry-standard
      safeguards.</dd>
    <dt class="col-2">Sharing / Changes</dt>
    <dd class="col-10">We may share your information with your consent or as required by law, and we will always let you know when we
      make significant changes to this Privacy Policy.</dd>
  </dl>
  <h4 class="mb-4 mt-5 border-bottom">Information we collect</h4>

  <dl class="row">
    <dt class="col-2">Registration</dt>
    <dd class="col-10">When you create an account with us, we collect information (including your name and email address).</dd>
    <dt class="col-2">Profile Information</dt>
    <dd class="col-10">We collect information when you fill out our registration forms. A complete form including personal and
      professional details – like your gender, age, occupation, education, among others – ends up as statistics in our
      services.</dd>
    <dt class="col-2">Cookies</dt>
    <dd class="col-10">We use cookies and similar technologies to collect information.</dd>
    <dt class="col-2">Log Files</dt>
    <dd class="col-10">We collect information from the devices and networks that you use to access our Service.</dd>
  </dl>
  <h4 class="mb-4 mt-5 border-bottom">How personal information is used</h4>

  <dl class="row">
    <dt class="col-2">Consent</dt>
    <dd class="col-10">You agree that information you provide on your profile can be seen used by us as described in this Privacy
      Policy and our <a class="link-dark" href="{% url 'app:terms' %}">Terms of Use</a>.</dd>
    <dt class="col-2">Communication</dt>
    <dd class="col-10">We communicate with you using email. We may send you messages relating to the availability of the
      Service, security, or other service-related issues.</dd>
    <dt class="col-2">Service Development</dt>
    <dd class="col-10">We use the information you provide to us to conduct analysis, research and development, and to customize your
      experience and try to make it relevant and useful to you.</dd>
    <dt class="col-2">Sharing Information</dt>
    <dd class="col-10">We do not share any personally identifying information that you provide to us. Non-identifying information is
      publically shared as part of our Service.</dd>
    <dt class="col-2">Third Parties</dt>
    <dd class="col-10">We work with developers to build applications using our developer tools. If you have given an application access
      to your account, you can revoke that permission anytime. Also, you can opt out of providing information to
      developers through your connections.</dd>
    <dt class="col-2">Polls and Surveys</dt>
    <dd class="col-10">We conduct our own surveys and polls and also help third parties do this type of research. Your participation in
      surveys or polls is up to you. You may also opt out of getting invitations to participate in surveys.</dd>
    <dt class="col-2">Compliance</dt>
    <dd class="col-10">We may disclose your personal information if compelled by law, subpoena, or other legal process, or if necessary
      to enforce our User Agreement.</dd>
    <dt class="col-2">International Use</dt>
    <dd class="col-10">We may process your information outside the country where you live.</dd>
  </dl>
  <h4 class="mb-4 mt-5 border-bottom">Choices &amp; Obligations</h4>

  <dl class="row">
    <dt class="col-2">Access / Closure</dt>
    <dd class="col-10">You can change your account information at any time by editing your profile, or by closing your account. You can
      also ask us for additional information we may have about your account.</dd>
    <dt class="col-2">Data Retention</dt>
    <dd class="col-10">We keep your information for as long as your account is active or as needed. We may keep certain information
      even after you close your account if it is necessary to comply with our legal obligations, meet regulatory
      requirements, resolve disputes, prevent fraud and abuse, or enforce this agreement.</dd>
  </dl>
  <h4 class="mb-4 mt-5 border-bottom">Important Information</h4>

  <dl class="row">
    <dt class="col-2">Minimum Age</dt>
    <dd class="col-10">You have to meet our minimum age requirements to create an account.</dd>
    <dt class="col-2">Marketing</dt>
    <dd class="col-10">We don't share any of your personal information with third parties for direct marketing.</dd>
    <dt class="col-2">Security</dt>
    <dd class="col-10">We take privacy and security seriously and have enabled HTTPS access to our site, in addition to existing SSL
      access over mobile devices. Also, please know that the Internet is not a secure environment, so be careful and
      select strong passwords.</dd>
  </dl>
{% endblock %}
