{% extends 'layouts/page.html' %}
{% load custom_tags %}

{% block page_title %} Terms of Use {% endblock %}

{% block content %}
<p class="lead">The terms of use for datasets of the federal authorities on this site are determined by the
    existing legal framework. If there is a statutory requirement to cite the source, this is indicated by the
    appropriate symbol next to the dataset concerned. In all other cases, users are recommended to cite the
    source.</p>
<p>The symbols next to each dataset indicate what use is permitted. All data owners use the same symbols.</p>
<hr>
<h3><i class="bi bi-cc-circle align-middle me-3" style="font-size: 2rem;"></i>Public Domain</h3>
<ul>
  <li>You <strong>may</strong> use this dataset for non-commercial purposes.</li>
  <li>You <strong>may</strong> use this dataset for commercial purposes.</li>
  <li>You are <strong>recommended</strong> to provide the source (author, title and link to the dataset).</li>
</ul>
<hr>
<h3><i class="bi bi-cc-circle align-middle me-3" style="font-size: 2rem;"></i>Attribution</h3>
<ul>
  <li>You <strong>may</strong> use this dataset for non-commercial purposes.</li>
  <li>You <strong>may</strong> use this dataset for commercial purposes.</li>
  <li>You <strong>must</strong> provide the source (author, title and link to the dataset).</li>
</ul>
<hr>
<h3><i class="bi bi-cc-circle align-middle me-3" style="font-size: 2rem;"></i>Non Commercial</h3>
<ul>
  <li>You <strong>may</strong> use this dataset for non-commercial purposes.</li>
  <li>You may use this dataset for commercial purposes, but you must seek prior <strong>permission</strong> from the
    data owner.</li>
  <li>You are <strong>recommended</strong> to provide the source (author, title and link to the dataset).</li>
</ul>
<hr>
<p>{% app_name %} provides a usage model for government organisations with a mandate from the state.</p>
<p>Please <a href="{% url 'app:page' 'contact' %}">contact us</a> if you have any questions.</p>
{% endblock %}
