{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block page %}
<main id="app" class="text-bg-light">
  
  {% include 'partials/navbar.html' %}
  
  <section>
    <nav class="container py-3">
      {% smart_breadcrumbs %}
    </nav>
  </section>

  <section>
    <header class="container py-3">
      <h1>{% block page_title %}{% endblock %}</h1>
      <p class="lead mb-0">{% block page_description %}{% endblock %}</p>
    </header>
  </section>

  <section class="py-5">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible mb-5" role="alert">
          <p class="mb-0">{{ message }}</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </section>
  
  {% include 'partials/footer.html' %}
  
</main>
{% endblock %}
