{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block page %}
<main id="app">
  {% include 'partials/header.html' %}
  <section class="jumbotron jumbotron-fluid text-bg-light mb-0">
    <div class="container py-3">
      <nav>
        {% smart_breadcrumbs %}
      </nav>
      <h1>{% block page_title %}{% endblock %}</h1>
    </div>
  </section>

  <section class="text-bg-light py-3">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible mb-5" role="alert">
          <p class="mb-0">{{ message }}</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </section>
  {% include 'partials/footer.html' %}
</main>
{% endblock %}
