{% extends 'layouts/page.html' %}
{% block title %}{{ block.super }} - Organisations{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item text-white-50">Organisations</li>
{% endblock %}

{% block page_title %} Organisations {% endblock %}

{% block content %}
<h3 class="mb-4">{{ organisations|length }} organisation{{ organisations|pluralize }} found&hellip;</h3>
{% if organisations %}
<div class="card-columns">
  {% for organisation in organisations %}
  <div class="card card-body">
    <h5 class="card-title"><a class="text-blue" href="{% url 'web:organisation' organisation.slug %}">{{ organisation.title }}</a></h5>
    <p class="mb-2 small">{{ organisation.description|truncatewords:30 }}</p>
    <p class="mb-0 small font-weight-bold">{{ organisation.dataset_set.all|length }} dataset{{ organisation.dataset_set.all|length|pluralize }}</p>
    </div>
  {% endfor %}
</div>
{% else %}
{% include 'partials/empty.html' %}
{% endif %}
{% endblock %}