{% extends 'layouts/auth.html' %}
{% load custom_tags %}
{% block title %}{{ block.super }} - Email Verification{% endblock %}
{% block content %}
<div class="px-5 mx-5">
  <h3>Congratulations!</h3>
  <p class="lead"> You've just created your account on {% app_name %}.</p>
  <p>Before you can log in, we need you to verify the email address you signed up with.</p>
  <p>Open up your mailbox, and click the link provided in our email.</p>
  <p><a href="{% url 'web:home' %}"><i class="fa fa-arrow-left mr-2"></i>Go back to {% app_name %}</a></p>
  <p class="small text-muted">Or you can safely close this tab.</p>
</div>
{% endblock %}