{% extends 'layouts/page.html' %}
{% load humanize %}
{% block page_title %} Open Data Portal {% endblock %}

{% block content %}
<section class="bg-light">
  <div class="container">
    <h3 class="mb-4 text-center">Browse Topics</h3>
    {% if topics %}
    <div class="card-columns">
      {% for topic in topics %}
      <div class="card card-body">
        <i class="{{ topic.icon }} fa-3x float-left mr-3 text-light-gray"></i>
        <h5 class="card-title text-truncate"><a class="text-blue" href="{% url 'web:topic' topic.slug %}">{{ topic.title }}</a></h5>
        <p class="mb-0">{{ topic.datasets.all.count }} datasets</p>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="lead">No topics defined</p>
    {% endif %}
  </div>
</section>

{% endblock %}