{% extends 'layouts/auth.html' %}
{% load custom_tags %}
{% block title %}{{ block.super }} - Sign up{% endblock %}

{% block content %}
  {% csrf_token %}

  <h3 class="my-3 px-5 mx-5">Reset Password</h3>
  <p class="mb-5 px-5 mx-5">Enter your email address to receive further instructions.</p>

  <fieldset class="px-5 mx-5">
    
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
    {% endif %}
    
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }} {{ field }}
      {% if field.errors %}
      <div class="invalid-feedback d-block text-left">{{ field.errors.as_text }}</div>
      {% else %}
      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-danger btn-block" type="submit">Reset Password</button>
    <a class="btn btn-light btn-block" href="{% url 'app:home' %}">Cancel</a>
  </fieldset>

  <p class="px-5 mx-5 mt-5">Would you like to try to <a href="{% url 'app:login' %}">log in</a> again?</p>
{% endblock %}
